body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  .aaa{
  position: relative;
  width: 150px;
  transition: all .35s;
  }

  .aaa span{
    transition: all .35s;
  }

  .success{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
  }

  .success p{
    /* width: 20px;
    height: 20px; */
    font-size: 25px;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all .35s;
  }

  .aaa.is_active{
    width: 40px;
    height: 40px;
  }

  .aaa.is_active .success{
    opacity: 1;
    visibility: visible;
  }

  .aaa.is_active .success p{
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
  }

  .aaa.is_active span{
    opacity: 0;
    visibility: hidden;
  }

.roll {
    -webkit-animation-name: roll;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
  }

  @-webkit-keyframes roll {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
  }

  @keyframes roll {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
  }
  html{
    scroll-behavior: smooth;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .bg-5 {
    background-color: #2f2f2f; /* White */
    color: #ffffff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  a.anchor {
      dispay: block;
      position: relative;
      top: -145px;
      visibility: hidden;
  }

  .rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
    background-color: black;
  }
  @keyframes rainbow {
      0%{background-position:0% 50%}
      50%{background-position:100% 25%}
      100%{background-position:0% 50%}
  }
